/* .fixed-bg {
    background-image: url("static/app1/css/vegetable.jpeg");
    min-height: 100%;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  } */